@charset "UTF-8";

body{
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 20px;
}

h1{
    color: maroon;
    background-color: darkgoldenrod;
    text-align: center;
}

h2{
    color: maroon;
    background-color: darkgoldenrod;
    text-align: center;
}

h3{
    color: darkred;
}
h4{
    color: darkred;
}

p{
    text-align: justify;
}

a{
    color: black;
    text-decoration: none;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

#tabela-simples table{
    height: 400px;
    width: 400px;
}

#tabela-simples .numero{
    text-align: right;
}

#tabela-simples tr.linha{
    background-color: darkgoldenrod;
}

#tabela-simples td{
    padding: 8px;
    text-align: center; /*alinhamento horizontal*/
    vertical-align: top; /*alinhamento vertical*/
}

#tabela-simples td.dado{
    background-color: darkgoldenrod;
}

#tabela-grande table{
    width: 500px;
    position: relative
}

#tabela-grande caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
}

#tabela-grande td, th{
    padding: 10px;
}

#tabela-grande thead tr th{
    position: sticky;
    top: -1px;
    background-color: gray;
}

#tabela-grande thead, tfoot{
    background-color: gray;
    color: white;
}

#tabela-grande tbody tr:nth-child(odd){ /* 2n-1 */
    background-color: lightgray;
}

#tabela-grande tbody tr:nth-child(even){ /* 2n */
    background-color: white;
}

#tabela-grande .num{
    text-align: right;
}

#tabela-mesclada table{
    width: 300px;
}

#tabela-mesclada td{
    text-align: center;
    padding: 10px;
}

#colgroup td, th, caption{
    padding: 5px 15px;
}

#colgroup col.cnome{
    background-color: chartreuse;
}

#colgroup col.cgrupo{
    background-color: yellow;
}

#colgroup col.cprof{
    background-color: green;
}

#tabela-responsiva{
    overflow-x: auto;
}

#tabela-responsiva th{
    background-color: gray;
}

#tabela-responsiva td, th{
    padding: 15px 45px;
}

#tabela-responsiva caption{
    padding: 20px;
    font-weight: bolder;
    font-size: 1.2em;
}

#tabela-responsiva tr:nth-child(odd){
    background-color: lightgray;
}

#tabela-responsiva tr:nth-child(even){
    background-color: #fff;
}

iframe{
    border: 1px solid #000;
    height: 400px;
    width: 400px;
}

#iframe-local iframe{
    display: block;
    margin: auto;
    border: 1px solid #000;
    height: 600px;
    width: 800px;
}